<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <link rel="icon" href="/images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/plug-ins/layerUi/layer.js"></script>
    <script src="/javascript/public.js"></script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
                <strong>学生信息管理系统</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <ul>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-list-alt"></i>个人信息<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="/student/info?uid={{ uid }}">查看信息</a>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>课程相关<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="/student/score?uid={{ uid }}">查看成绩</a>
                        </dd>
                        <dd>
                            <a href="/student/course?uid={{ uid }}">我的课表</a>
                        </dd>
                        <dd>
                            <a href="/student/addCourse?uid={{ uid }}">选课</a>
                        </dd>
                    </dl>
                </li>

                <li>
                    <dl>
                        <dt>
                            <i class="icon-laptop"></i>账号管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="/student/password?uid={{ uid }}">修改密码</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </nav>

        <footer class="side-footer">© GongYYY 版权所有</footer>

    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a><i class="icon-user"></i>{{ name }}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                <section class="page-hd">
                    <header>
                        <h2 class="title">课表一览</h2>
                        <p class="title-description">
                            其中有现在课程的基本信息
                        </p>
                    </header>
                    <hr>
                </section>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>课序号</th>
                        <th>课程名</th>
                        <th>任课教师</th>
                        <th>学分</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ each course }}
                    {{ if $value.id }}
                    <tr class="cen">
                        <td>{{ $value.cid }}</td>
                        <td>{{ $value.courName }}</td>
                        <td>{{ $value.teacher }}</td>
                        <td>{{ $value.score }}</td>
                        <td>
                            <a class="mr-5" href="/student/myCourse/delete?uid={{ uid }}&cid={{ $value.cid }}">退课</a>
                        </td>
                    </tr>
                    {{ /if }}
                    {{ /each }}
                    </tbody>
                </table>
            </div>
        </main>
        <footer class="btm-ft">
            <p class="clear">
                <span class="fr text-info">
					<em class="uppercase">
						<a href="#"><i class="icon-user"></i></a>
					</em> |
					<em class="uppercase">
                        <a href="#"><i class="icon-envelope-alt"></i></a>
					</em>
					<a onclick="reciprocate()" class="text-primary"><i class="icon-qrcode"></i>打赏</a>
				</span>
            </p>
        </footer>
    </div>
</div>

</body>
</html>